/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/
html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/
button,
[role=button] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/
[hidden] {
  display: none;
}

:root {
  --du-font-family-normal: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --du-font-family-heading: var(--du-font-family-normal);
  --du-line-height-normal: calc(1ex / 0.32);
  --du-line-height-heading: calc(1ex / 0.42);
  --du-text-scale-ratio: 1.2;
  --du-text-7: calc(var(--du-text-6) / var(--du-text-scale-ratio));
  --du-text-6: 1rem;
  --du-text-5: calc(var(--du-text-6) * var(--du-text-scale-ratio));
  --du-text-4: calc(var(--du-text-5) * var(--du-text-scale-ratio));
  --du-text-3: calc(var(--du-text-4) * var(--du-text-scale-ratio));
  --du-text-2: calc(var(--du-text-3) * var(--du-text-scale-ratio));
  --du-text-1: calc(var(--du-text-2) * var(--du-text-scale-ratio));
  --du-space-2xs: 0.25rem;
  --du-space-xs: 0.5rem;
  --du-space-s: 0.75rem;
  --du-space-m: 1.25rem;
  --du-space-l: 2rem;
  --du-space-xl: 3.25rem;
  --du-space-2xl: 5.25rem;
  --du-space-3xl: 8.5rem;
  --du-spacer: var(--du-space-m);
  --du-radius: 0.25rem;
}

:root:not([data-theme]),
[data-theme=light] {
  --du-color-contrast-lowest: hsl(0, 0%, 95%);
  --du-color-contrast-lower: hsl(0, 0%, 82%);
  --du-color-contrast-low: hsl(0, 0%, 70%);
  --du-color-contrast-medium: hsl(0, 0%, 48%);
  --du-color-contrast-high: hsl(0, 0%, 20%);
  --du-color-contrast-higher: hsl(0, 0%, 12%);
  --du-color-background: white;
  --du-color-text: var(--du-color-contrast-higher);
  --du-color-link: var(--du-color-primary);
  --du-color-link-hover: var(--du-color-text);
}

[data-theme=dark] {
  --du-color-contrast-lowest: hsl(0, 0%, 14%);
  --du-color-contrast-lower: hsl(0, 0%, 22%);
  --du-color-contrast-low: hsl(0, 0%, 48%);
  --du-color-contrast-medium: hsl(0, 0%, 70%);
  --du-color-contrast-high: hsl(0, 0%, 82%);
  --du-color-contrast-higher: hsl(0, 0%, 95%);
  --du-color-background: hsl(0, 0%, 10%);
  --du-color-text: white;
  --du-color-link: var(--du-color-primary);
  --du-color-link-hover: var(--du-color-text);
}

[data-theme]:not(:root) {
  color: var(--du-color-text);
  background-color: var(--du-color-background);
}

html {
  min-width: 320px;
  background-color: var(--du-color-background, white);
  overflow-x: hidden;
  overflow-y: scroll;
}
html {
  font-size: 16px;
  font-size: clamp(16px, 15.3333333333px + 0.2083333333vw, 18px);
}

body {
  block-size: -webkit-fill-available;
  block-size: -moz-available;
  block-size: stretch;
  font-family: var(--du-font-family-normal);
  line-height: var(--du-line-height-normal);
  color: var(--du-color-text);
}

[id] {
  scroll-margin-top: 2ex;
}

a {
  cursor: pointer;
  color: var(--du-color-link);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: currentcolor;
  text-decoration-thickness: auto;
  text-decoration-skip-ink: auto;
}
a:hover {
  color: var(--du-color-link-hover);
}

mark {
  background-color: #ffedb3;
  color: inherit;
}

code {
  background-color: var(--du-color-contrast-lowest);
  color: var(--du-color-contrast-higher);
  font-size: 0.875em;
  padding: var(--du-space-2xs) var(--du-space-xs);
}

pre {
  background-color: var(--du-color-contrast-lowest);
  font-size: 0.875em;
  padding: var(--du-space-s) 1rem;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}
pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0;
}

svg:not([fill]) {
  fill: currentColor;
}

label {
  display: inline-block;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  padding: 0.25em 0.375em;
}

button {
  touch-action: manipulation;
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.content {
  overflow-wrap: break-word;
}
.content > *:not(:last-child) {
  margin-bottom: calc(var(--du-space-m) * var(--du-block-space-y-multiplier, 1));
}
.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child) {
  margin-top: calc(var(--du-space-xl) * var(--du-block-space-y-multiplier, 1));
}
.content hr {
  width: 100%;
  margin: calc(var(--du-space-m) * var(--du-block-space-y-multiplier, 1)) auto;
}
.content h1,
.content h2,
.content h3,
.content h4 {
  line-height: var(--du-line-height-heading);
}
.content h1 {
  font-size: var(--du-text-2);
}
.content h2 {
  font-size: var(--du-text-3);
}
.content h3 {
  font-size: var(--du-text-4);
}
.content h4 {
  font-size: var(--du-text-5);
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 600;
}
.content li + li {
  margin-top: calc(var(--du-space-2xs) * var(--du-block-space-y-multiplier, 1));
}
.content ul:not([class]),
.content ol:not([class]),
.content dd:not([class]) {
  margin-left: 2em;
}
.content ul {
  list-style: disc outside;
}
.content ul ul {
  list-style-type: circle;
  margin-top: calc(var(--du-space-xs) * var(--du-block-space-y-multiplier, 1));
}
.content ol {
  list-style: decimal outside;
}
.content blockquote {
  background-color: var(--du-color-contrast-lowest);
  border-left: 5px solid var(--du-color-contrast-lower);
  padding: var(--du-space-s) 2em var(--du-space-s) calc(2em - 5px);
}
.content figure {
  text-align: center;
}
.content figure img {
  display: inline-block;
}
.content figure figcaption {
  margin-top: calc(var(--du-space-xs) * var(--du-block-space-y-multiplier, 1));
  line-height: var(--du-line-height-heading);
}
