.prose {
  :where(p) {
    font-stretch: expanded;
  }
}

.editorial {
  border-bottom: 2px solid;
  background: url("/assets/img/editorial-gesichter.png") center bottom no-repeat,
    url("/assets/img/bg-pattern.svg") center repeat fixed
      var(--du-color-background);
  background-size: auto 84px, auto;
  padding-top: 8rem;
}

.editorial-title {
  color: var(--du-color-primary-700);
  font-size: clamp(var(--du-text-3xl), 5vw, 4rem);
  font-family: var(--du-font-family-heading);
  line-height: 1;
  font-weight: 700;
}
