:root {
  --du-font-family-heading: "Gridular", monospace;
  --du-font-family-normal: "Iosevka Slab Web", monospace;
  --du-color-background: hsl(38, 24%, 96%);
  --du-decoration-width: max(2px, 0.1em);

  --du-fluid-min-font-size: 16;
  --du-fluid-max-font-size: 18;
}

html {
  background-color: var(--du-color-background);
  background-image: radial-gradient(
    var(--du-color-primary-100) 1px,
    var(--du-color-background) 1px
  );
  background-size: 50px 50px;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

a {
  text-decoration-line: none;
  text-decoration-color: currentColor;
  text-decoration-thickness: var(--du-decoration-width);
  text-underline-offset: var(--du-decoration-width);

  &:hover {
    text-decoration-line: underline;
  }
}
